/* Typography */
.head1 {
    @apply text-5xl font-extrabold;
}

.head2 {
    @apply text-4xl font-extrabold;
}

.head3 {
    @apply text-3xl font-extrabold;
}

.head4 {
    @apply text-2xl font-extrabold;
}

@screen md {
    .head1 {
        @apply text-6xl;
    }

    .head2 {
        @apply text-5xl;
    }

    .head3 {
        @apply text-4xl;
    }
}

/* Buttons */
.btn,
.btn-sm,
.btn-lg {
    @apply text-sm font-medium inline-flex items-center justify-center border border-transparent rounded-full whitespace-nowrap transition duration-150 ease-in-out;
}

.btn {
    @apply px-4 py-1.5;
}

.btn-sm {
    @apply px-3 py-1;
}
.btn-lg {
    @apply px-5 py-2;
}

/* Forms */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
    @apply bg-slate-800 border border-transparent focus:border-indigo-500;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
    @apply rounded;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
    @apply text-slate-200 text-sm px-3 py-1.5;
}

.form-input,
.form-textarea {
    @apply placeholder-slate-500;
}

.form-select {
    @apply pr-10;
}

.form-checkbox,
.form-radio {
    @apply text-indigo-600 rounded-sm;
}

/* Chrome; Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@keyframes endless {
    0% { transform: translateY(0); }
    100% { transform: translateY(-245px); }
}

@keyframes shine {
    0% { top: 0; transform: translateY(-100%) scaleY(10); opacity: 0 }
    2% { opacity: .5 }
    40% { top: 100%; transform: translateY(0) scaleY(200); opacity: 0 }
    100% { top: 100%; transform: translateY(0) scaleY(1); opacity: 0 }
}

@keyframes float {
    0% { transform: translateY(3%) }
    50% { transform: translateY(-3%) }
    100% { transform: translateY(3%) }
}